<div class="card card-size">
  <h5 class="card-header bg-primary text-white">
    カードのヘッダ
  </h5>
  <div class="card-body scroll-x">
    <table class="border-setting">
      <tr class="bg-info">
        <th class="border-setting">ユーザー名</th>
        <th *ngFor="let dispdate of dispDates" class="thead border-setting">{{dispdate}}</th>
      </tr>
      <tr>
        <td class="border-setting">ここユーザー名だお</td>
        <td *ngFor="let items of dispDates" class="border-setting" [ngClass]="{'exist-plan': hasPlan(),'plan-edge-start': isPlanEdgeS(items),'plan-edge-end': isPlanEdgeE(items)}">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
