.border-setting{
    border: 1px solid gray;
}

.card-size{
    width: 100vh - 1px;
}

.exist-plan{
    background:linear-gradient(0deg,white 0%,blue 50%,blue 50%,white 100%);
}

.plan-edge-start{
    border-radius: 100px 0px 0px 100px/50px 0px 0px 50px;
}

.plan-edge-end{
  border-radius: 0px 100px 100px 0px/0px 50px 50px 0px;
}

.scroll-x{
    overflow-x: hidden;
}

.thead{
    width: 20px;
}
